* {
    box-sizing: border-box;
}

html {
    background: #f7da4c;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

#iframeContainer {
    background: black;
    padding: 80px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%/ 0 0 30px 30px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}

#iframeScreen {
    background: rgb(208, 228, 197);
    border-radius: 5px;
    height: 400px;
    width: 400px;

}

#videoGameName {
    font-size: 1.3rem;
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: gray;
    display: flex;
}

#coloredName {
    margin-left: 10px;
}

#led {
    height: 10px;
    width: 10px;
    background-color: rgb(252, 0, 0);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 25%;
    left: 5%;
    transform: translate(-50%, -50%);
    box-shadow:
    0 0 60px 30px rgb(196, 0, 0),
    0 0 100px 10px rgb(255, 0, 0),
    0 0 140px 10px rgb(255, 18, 18);
}

#ledSymbol {
    color: gray;
    position: absolute;
    top: 25%;
    left: 10%;
    transform: translate(-50%, -50%);
}

#powerName {
    font-size: 0.8rem;
    color: gray;
    position: absolute;
    top: 30%;
    left: 7%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 700px) {
    #iframeScreen {
            background: rgb(208, 228, 197);
            border-radius: 5px;
            height: 300px;
            width: 300px;
    
        }
        #powerName {
            font-size: 0.6rem;
            top: 32%;

        }

        #ledSymbol {
            left: 11%;
        }

        #videoGameName {
            font-size: 1.2rem;
        }
}

@media screen and (max-width: 500px) {
    #iframeScreen {
        background: rgb(208, 228, 197);
        border-radius: 5px;
        height: 230px;
        width: 230px;

    }

    #iframeContainer {
        padding: 50px;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #ledSymbol {
        font-size: 0.7rem;
        left: 12%;
    }

    #powerName {
        font-size: 0.5rem;
        top: 32%;
    }

    #videoGameName {
        font-size: 0.8rem;
    }
}

@media (orientation: landscape) {

  
    
}