

:root{
    --primary: #f8b725;
    --secondary: #f6f3f3;
    --carving: #e1b245;
    --accent: #fcbe2b;
    --dark: rgb(27, 27, 32);
}

html {
    box-sizing: border-box;
    background: var(--secondary);
    width: 100vw;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.container{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    width: 100vw;
    padding: 10px;
    background-color: var(--dark);
}

.main_nav{

   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.main_nav button{

    width: 3rem;
    height: 4rem;
    border: none;
    transition: all 0.1s ease;
    border-radius: 3px 3px;
    border-bottom-right-radius: 30% 10%;
    border-bottom-left-radius: 30% 10%;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.littleScreen{
    transform: translateY(5px);
    border-radius: 5px;
    width: 25px;
    height: 25px;
    background-color: rgb(143, 169, 173);
    border: var(--dark) solid 8px;
    border-bottom-right-radius: 30% 10%;
    border-bottom-left-radius: 30% 10%;

}

.main_nav button:hover {
    transform: scale(1.1);
}

.vanish{
    animation: miniGameEffect 2s;
}

@keyframes miniGameEffect {

    10%{
        transform: rotate(10deg);
    }

    60%{
        transform: rotate(720deg);
    }
    80%{
        transform: translateY(10px);
    }
    85% {
        transform:translateY(-50vh);
    } 
    
    100%{
        transform: scale(0);
    }
}

.main_nav button:active {

    transform: scale(.9);
}

.powerBtn{
    position: absolute;
    right: -2%;
    border: 0;
    background-color: rgb(75, 75, 75);
    border-radius: 2 px 2px;
    width: 10px;
    height:30px;
}

.mainContainer{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

}

.gameBody{
    position: relative;
    background: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 45rem;
    width: clamp(30rem,35rem,100%);
    padding: 30px 0;
    border-radius: 10px 10px;
    border-bottom-right-radius: 30% 10%;
    border-bottom-left-radius: 30% 10%;
    transition: all ease 0.3s;
}

.bodyShadow{
    background-color: var(--accent);
    position: absolute;
    top: 70%;
    right: 50%;
    width: 70%;
    height: 50%;  
    transform: translate(50%, -50%);
    border-radius: 10px 10px;
    border-bottom-right-radius: 30% 10%;
    border-bottom-left-radius: 30% 10%;
}

.screen {
    background-color: rgb(143, 169, 173);
    width: 17em;
    height: 17em;
    transform: translateY(-20px);
}

.screenFrame {
    z-index: 1;
    position: relative;
    border-radius: 10px 10px;
    border-bottom-right-radius: 30% 10%;
    border-bottom-left-radius: 30% 10%;
    border: var(--dark) solid 60px;
    background-color: var(--dark);
}

.led, .powerName, .ledSymbol{
    position: absolute;
    z-index: 1;
    top:10%;
    right: 115%;
}

.led {
    background: red;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.powerName{
    color: gray;
    transform: translate(30px,20px);
    font-size: 0.7em;
}

.ledSymbol {
    color: gray;
    font-weight: 800;
    transform: translate(35px, -5px);
    letter-spacing: 3px;

}

.videoGameName{
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: absolute;

}

.grayName{
    color: gray;
    font-family: 'Noto Sans Mono', monospace;
    font-size: 1.3em;
    font-style: italic;
    font-weight: bold;
}

.coloredName {
    color: gray;
    letter-spacing: -6px;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
}

/* PLAYING AREA*/
.brand {
    z-index: 10;
    position: absolute;
    top: 60%;
    right: 50%;
    transform: translate(50%, -50%);
    height: 30px;
    width: 30%;
    border: solid 4px var(--carving);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans Mono', monospace;
    color: var(--carving);

    transition: all ease 0.5s;
}

/* AINDA N FUNFA*/
.gameBtns{
 
    width: 100px;
    height: 100px;

}

.gameBtn{
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 100;
    background-color: #333834;
    border: none;
    transition: all ease 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameBtn:active {
    background-color: #242725;
}

.leftBtns{
    position: absolute;
    top: 72%;
    left: 25%;
}

.up{
    transform: translateY(-29px);
    border-radius: 5px 5px 0 0;
    box-shadow: rgb(27, 27, 32) 3px 1px 2px 1px;
}

.right{
    transform: translateX(29px);
    border-radius: 0 5px 5px 0;
    box-shadow: rgb(27, 27, 32) 3px 1px 2px 1px;
}

.down{
    transform: translateY(29px);
    border-radius: 0 0 5px 5px;
    box-shadow: rgb(27, 27, 32) 3px 1px 2px 1px;
}

.left{
    transform: translateX(-29px);
    border-radius: 5px 0 0 5px;
    box-shadow: rgb(27, 27, 32) 3px 1px 2px 0px;
}

.rightBtns {
    position: absolute;
    top: 73%;
    left: 75%;
}

.a{
    transform: translateY(-30px);
    border-radius: 50%;
    padding: 20px;
    box-shadow: rgb(27, 27, 32) 3px 1px 2px 0px;   
    font-weight: bold;
    font-size: large;
}

.b{
    transform: translateX(-50px);
    border-radius: 50%;
    padding: 20px;
    box-shadow: rgb(27, 27, 32) 3px 1px 2px 0px;
    font-weight: bold;
    font-size: large;
}

.center{
    cursor: default;
    pointer-events: none;
}

.footer {
    text-align: center;
    background: var(--dark);
    padding: 10px;
    color: white;
    width: 100vw;
    font-family: 'bebas neue';
}

.footer ul {
    list-style:none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.footer a {
    font-size: clamp(1.3rem, 2.5rem, 100%);
    color: white;
    text-decoration: none;
    transition: all 0.2s ease;
}

.footer a:hover {
    color: var(--primary);
    font-size: clamp(1.5rem, 2.8rem, 100%);
}

.footer  i {
    font-size: 2rem;
    color: var(--primary);
    transition: all ease 0.2s;
}

@media screen and (max-width: 600px) and (orientation: portrait) {
    .gameBody{
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }

    .bodyShadow{
        width: 70%;
        transition: all ease 0.2s;
    }

    .brand{
        top: 53%;
    }

    .screenFrame{
        transform: scale(0.95);
    }

    .powerBtn {
        position: absolute;
        right: 0%;
    }
}
