:root {
  --primary: #f1f1f1;
}

body {
  background-color: antiquewhite;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.gameTransition {
  position: absolute;
  aspect-ratio: 1;
  width: 301px;
  height: 301px;
  transition: all ease 3s;
  background-color: rgb(190, 190, 190);
  background-image: repeating-linear-gradient(
    36deg,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.2) 1px,
    transparent 0px,
    transparent 2px
  );
}

.gameTransitionWrapper {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  mix-blend-mode: multiply;
  opacity: 0.8;
}

.gameTransition h2 {
  width: 80%;
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: "VT323", monospace;
  font-size: 2em;
}

.selectedGameImageTransition {
  max-height: 50%;
  border-radius: 10px;
  mix-blend-mode: multiply;
}

header {
  display: flex;
  align-items: center;
  color: white;
  z-index: 9999999;
  font-family: "VT323", monospace;
  font-size: 1.2rem;
  max-width: 100%;
  padding: 10px;
  background-color: #5c5c5c;
  gap: 30px;
}

header a {
  color: var(--primary);
  transition: all ease 0.1s;
}

header a:hover {
  rotate: 10deg;
  transform: scale(1.1);
}

header a:nth-child(3) {
  margin-left: auto;
}

.container {
  position: relative;
  aspect-ratio: 1;
  width: 301px;
  max-height: 301px;
  background-color: rgb(143, 169, 173);
  background-image: repeating-linear-gradient(
    36deg,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.2) 1px,
    transparent 0px,
    transparent 2px
  );
  display: flex;
  justify-content: center;
  align-items: ce;
  flex-direction: column;
}

.menuWrapper {
  margin: 0;
  flex-grow: 1;
  width: 100%;
  background-color: rgb(31, 31, 31);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: "VT323", monospace;
  font-weight: bold;
  text-align: center;
  opacity: 0.8;
}

.gameListWrapper {
  width: 100%;
  height: 100%;
  justify-content: start;
  background-color: rgb(20, 20, 20);
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.gameList {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 5px;
}

.gameListLoad {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loader {
  border: 5px dotted var(--primary);
  border-bottom-color: transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gameList button {
  text-align: left;
  border: none;
  background: rgb(20, 20, 20);
  color: white;
  display: flex;
  font-family: "VT323", monospace;
  align-items: center;
  font-size: 1.5rem;
  z-index: 1;
  transition: all ease 0.1s;
}

.gameList button:hover {
  text-align: left;
  border: none;
  cursor: pointer;
}

.navMenu {
  transition: all ease 0.2s;
  opacity: 1;
  position: relative;
}

.navMenuOverlay {
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  opacity: 0;
  height: 100vh;
  width: 100vw;
  transition: all ease 0.2s;
}

.navMenuActive {
  padding: 15px;
}

.navMenuActive a {
  transform: scale(1.2);
}

.navMenuItemActive {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 35px;
  width: 35px;
  text-decoration: none;
  border-radius: 5px;
  transition: all ease 0.2s;
}

.game_screen {
  position: absolute;
  background-color: rgb(143, 169, 173);
  background-image: repeating-linear-gradient(
    36deg,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.2) 1px,
    transparent 0px,
    transparent 2px
  );
  aspect-ratio: 1;
  width: 300px !important;
  height: 300px !important;
  z-index: 999999;
}

.gameImageWrapper {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 40%;
  border-radius: 40%;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.selectedGameImageBg {
  position: fixed;
  top: 52%;
  right: 50%;
  transform: translate(50%, -50%);
  mix-blend-mode: overlay;
  z-index: 3;
  height: auto;
  width: 200px;
  opacity: 0.6;
  pointer-events: none;
}

.selectedGameImage {
  max-width: 120px;
  z-index: 4;
  z-index: 999999999999999;
  border-radius: 30%;
  pointer-events: none;
  transition: all ease 0.2s;
  transform: translate(-25px, 0px);
}

.active {
  background: #000000 !important;
  transform: scale(1.1);
  padding-left: 30px;
}

.gameFrame {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
}

.play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 10%;
  background: none;
  border: none;
  box-shadow: 2px rgb(20, 20, 20);
  color: white;
  cursor: pointer;
  transition: all ease 0.2s;
  font-family: "VT323", monospace;
  font-size: 1.5rem;
  text-decoration: none;
}

.play:hover {
  transform: scale(1.1);
}

.intro {
  display: none;
}

.availableGames {
  display: flex;
  align-items: center;
  color: white;
  z-index: 999999999;
  font-family: "VT323", monospace;
  font-size: 1.2rem;
  max-width: 100%;
  max-height: 40px;
  background-color: #5c5c5c;
  padding-left: 10px;
  opacity: 0.9;
}

.availableGamesNumber {
  padding-left: 5px;
}

#search {
  display: none;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #575757;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(201, 201, 201);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
