body {
  background-color: antiquewhite;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "VT323", monospace;
}

h1 {
  color: white;
  font-size: 2rem;
  padding: 0 5px;
  margin: 3px;
}

.container {
  background-color: rgb(143, 169, 173);
  background-image: repeating-linear-gradient(
    36deg,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.2) 1px,
    transparent 0px,
    transparent 2px
  );
  position: absolute;
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  background-color: rgb(31, 31, 31);
  height: 100%;
  width: 100%;
  opacity: 0.8;
  line-height: 30px;
}

.menuOption {
  background: none;
  list-style: none;
  width: 100%;
  color: white;
  font-family: "VT323", monospace;
  font-weight: bold;
  font-size: 1.5rem;
  z-index: 1;
  transition: all ease 0.1s;
  height: 25px;
  padding-left: 5px;
  display: flex;
  align-items: center;
  transition: all ease 0.2s;
  outline: none;
  border: none;
  text-decoration: none;
}

.menuOption:hover {
  text-align: left;
  border: none;
  cursor: pointer;
}

header ul {
  padding: 0;
  text-decoration: none;
}

.mute {
  position: absolute;
  right: 20px;
}

.settingsImg {
  background-color: rgb(31, 31, 31);
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}

.settingsImg img {
  animation: spin 8s infinite;
  margin-bottom: 20px;
  opacity: 0.3;
}

.active {
  background: #000000 !important;
  transform: scale(1.1);
  padding-left: 30px;
}

.color_list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.color_btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.colorBtn {
  width: 20px;
  height: 20px;
  transform: translateX(-20px);
}

.color_btns {
  opacity: 1;
  animation: colorBtnsShow 1s 1 ease-in-out;
}

@keyframes colorBtnsShow {
  0% {
    transform: translateX(150px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.colorBtnCurrent {
  display: none;
}

.colorBtnActive {
  width: 25px;
  height: 25px;
  border: white 2px dotted;
  transform: translateX(-20px);
  animation: colorBtnsActivate 0.5s 1 ease-in-out;
}

@keyframes colorBtnsActivate {
  0% {
    transform: translateX(-20px) rotate(0deg);
  }

  100% {
    transform: translateX(-20px) rotate(180deg);
  }
}

#yellow {
  background: #f8b725;
}
#blue {
  background: #008199;
}
#pink {
  background: #e74254;
}
#purple {
  background: #6d2fdc;
}
#green {
  background: #79be01;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
